*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.hidden {
  display: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/*header*/
.header {
  font-family: "Cuprum", Arial, sans-serif;

  background: #f4f7f9;
}

/*header header-top*/
.header__top {
  background-color: #293449;
}

/*header header-top header__logo*/
.header__logo {
  display: block;
  width: 220px;
  height: 47px;

  background-color: #ee3643;

  overflow: hidden;
}

.header__logo:hover {
  background-color: #ca2c37;
}

.header__logo:active {
  background-color: #ba2732;
}

.header__logo img {
  display: block;
  margin: 13px auto;
}

/*header header-top form-search*/
.form-search {
  position: relative;
}

.form-search__field {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  box-sizing: border-box;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  background-color: inherit;
  border: none;
}

.form-search__field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}

.form-search__field::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}

.form-search__field:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}

.form-search__field:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
  opacity: 1;
}

.form-search__field:hover {
  background-color: #212a3a;
}

.form-search__field:focus {
  background-color: #ffffff;
}

.form-search__label {
  position: absolute;
  top: 50%;
  left: 17px;

  transform: translateY(-50%);
}

.form-search__label::before {
  display: inline-block;
  width: 17px;
  height: 17px;

  vertical-align: middle;
  content: '';

  background: url("../img/icon-search.svg") 0 0 no-repeat;
  background-size: 17px 17px;
  opacity: 0.3;
}

.form-search__field:hover ~ .form-search__label::before {
  opacity: 1;
}

.form-search__field:active ~ .form-search__label::before {
  opacity: 0.5;
}

.form-search__field:focus ~ .form-search__label::before {
  background-image: url("../img/icon-search-focus.svg");
  opacity: 1;
}

/*header header__top widget*/
.widget__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
}

.widget__link:hover {
  background-color: #212a3a;
}

.widget__link:active {
  background-color: #161d29;
}

.widget__link_bookmark {
  padding-left: 45px;
}

.widget__link_cart {
  padding-left: 50px;
}

.widget__info {
  position: relative;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  vertical-align: middle;
  color: #ffffff;
}

.widget__link:active .widget__info {
  opacity: 0.6;
}

.widget__info::before {
  position: absolute;
  top: 0;

  display: block;

  opacity: 0.3;
  content: '';
}

.widget__link:hover .widget__info::before {
  opacity: 1;
}

.widget__link:active .widget__info::before {
  opacity: 0.5;
}

.widget__info_bookmark::before {
  left: -13px;

  width: 14px;
  height: 16px;

  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
  background-size: 14px 16px;

  transform: translateX(-100%);
}

.widget__info_cart::before {
  left: -17px;

  width: 15px;
  height: 15px;

  background: url("../img/icon-cart.svg") no-repeat 0 0;
  background-size: 15px 15px;

  transform: translateX(-100%);
}

/*header header-top to-process-order*/
.to-process-order {
  display: block;
  padding: 14px 20px;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a63e;
}

.to-process-order:hover {
  background-color: #5fbb2d;
}

.to-process-order:active {
  background-color: #518534;
  opacity: 0.5;
}

/*header header__middle*/
/*header header__middle header__title*/
.header__title {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

/*header header__middle header-contacts*/
.header-contacts__link_phone {
  position: relative;

  display: block;
  padding: 14px 20px 14px 75px;

  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-contacts__link_phone::before {
  position: absolute;
  top: 50%;
  left: 15px;

  display: block;
  width: 19px;
  height: 19px;

  background: url("../img/icon-phone.svg") no-repeat 0 0;
  background-size: 19px 19px;

  content: '';
  transform: translateY(-50%);
}

.header-contacts__address {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}

/*header user-navigation*/
/*header user-navigation user-navigation-out*/
.user-navigation-out__link {
  display: block;

  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation-out__link:hover {
  color: #ee3643;
}

.user-navigation-out__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-out__link-login {
  position: relative;
  padding: 15px 20px 15px 50px;
}

.user-navigation-out__link-login::before {
  position: absolute;
  top: 50%;
  left: 14px;

  display: block;
  width: 20px;
  height: 17px;

  background: url("../img/icon-login.svg") no-repeat 0 0;
  background-size: 20px 17px;

  transform: translateY(-50%);

  content: '';
}

.user-navigation-out__item:hover .user-navigation-out__link-login::before {
  background-image: url("../img/icon-login-hover.svg");
}

.user-navigation-out__item:active .user-navigation-out__link-login::before {
  background-image: url("../img/icon-login.svg");
}

.user-navigation-out__link-registration {
  padding: 15px 25px 15px 25px;
}

/*header user-navigation user-navigation-inside*/
.user-navigation-inside__link-name {
  position: relative;

  display: block;
  padding: 14px 20px 11px 47px;

  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation-inside__link-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-inside__link-name::before {
  position: absolute;
  top: 50%;
  left: 13px;

  display: block;
  width: 20px;
  height: 18px;

  background: url("../img/icon-user.svg") 0 0 no-repeat;
  background-size: 20px 18px;

  transform: translateY(-50%);

  content: '';
}

.user-navigation-inside__item:hover .user-navigation-inside__link-name::before {
  background-image: url("../img/icon-user-hover.svg");
}

.user-navigation-inside__item:active .user-navigation-inside__link-name::before {
  background-image: url("../img/icon-user.svg");
}

.user-navigation-inside__link-name::after {
  position: absolute;
  top: 50%;
  right: 10px;

  display: block;
  width: 21px;
  height: 17px;

  background: url("../img/icon-logout.svg") 0 0 no-repeat;
  background-size: 21px 17px;

  transform: translateY(-50%);

  content: '';
}

.user-navigation-inside__item:hover .user-navigation-inside__link-name::after {
  background-image: url("../img/icon-logout-hover.svg");
}

.user-navigation-inside__item:active .user-navigation-inside__link-name::after {
  background-image: url("../img/icon-logout.svg");
}

.user-navigation-inside__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.user-navigation-inside__link:hover {
  color: #ee3643;
}

.user-navigation-inside__link:active {
  color: rgba(50, 66, 92, 0.3);
}

/*header main-navigation*/
.main-navigation__list {
  background-color: #32425c;
}

.main-navigation__link {
  display: block;
  padding: 20px 30px;

  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation__link:hover {
  background-color: #293449;
}

.main-navigation__link:active {
  background-color: #1d2739;
  opacity: 0.5;
}

/*promo*/
.promo-item {
  position: relative;

  width: 300px;
  height: 123px;

  font-family: "Cuprum", Arial, sans-serif;
}

.promo-item[data-promo="material"] {
  background-color: #ffc047;
}

.promo-item[data-promo="tool"] {
  background-color: #3bbce3;
}

.promo-item[data-promo="equipment"] {
  background-color: #dc91d8;
}

.promo-item[data-promo="discount"] {
  background-color: #8ed78f;
}

.promo-item[data-promo="delivery"] {
  background-color: #ffc047;
}

.promo-item-new::before {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 60px;
  height: 59px;

  background: url("../img/new-flag.png") 0 0 no-repeat;
  background-size: 60px 59px;

  content: '';
}

.promo-item::after {
  position: absolute;
  display: block;
  background: 0 0 no-repeat;
  content: '';
}

.promo-item[data-promo="material"]::after {
  bottom: 27px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-1.svg");
  background-size: 44px 65px;
}

.promo-item[data-promo="material"]::after {
  bottom: 27px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-1.svg");
  background-size: 44px 65px;
}

.promo-item[data-promo="tool"]::after {
  bottom: 29px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
  background-size: 75px 61px;
}

.promo-item[data-promo="equipment"]::after {
  bottom: 30px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-image: url("../img/icon-3.svg");
  background-size: 78px 62px;
}

.promo-item[data-promo="discount"]::after {
  bottom: 25px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-image: url("../img/icon-4.svg");
  background-size: 59px 72px;
}

.promo-item[data-promo="delivery"]::after {
  bottom: 27px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
  background-size: 78px 63px;
}

.promo-item__title {
  margin: 0 0;
  padding-top: 21px;
  padding-left: 23px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.promo-item__link {
  position: absolute;
  bottom: 22px;
  left: 25px;

  display: block;
  width: 135px;
  height: 38px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.promo-slider {
  width: 620px;
  height: 266px;
}

/*footer*/
.footer {
  font-family: "Cuprum", Arial, sans-serif;
}

/*footer footer-top*/
.footer-top {
  background-color: #32425c;
}

.footer__logo-link {
  display: block;
  width: 220px;
  height: 68px;

  background-color: #ee3643;

  overflow: hidden;
}

.footer__logo-link:hover {
  background-color: #ca2c37;
}

.footer__logo-link:active {
  background-color: #ba2732;
}

.footer__logo-img {
  display: block;
  margin: 20px auto;
}

.footer-top__address {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #f1f5f7;
}

.footer-navigation__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-navigation__link_top {
  color: #f1f5f7;
}

.footer-navigation__link_bottom {
  color: #ffd180;
}

.footer-navigation__link:hover {
  text-decoration: underline;
}

.footer-navigation__link:active {
  text-decoration: none;

  opacity: 0.5;
}

/*footer footer-bottom*/
.footer-bottom {
  background-color: #293449;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.social-list__link {
  display: block;
  width: 42px;
  height: 42px;

  font-size: 0;

  background: #212a3a 50% 50% no-repeat;
  border-radius: 50%;
}

.social-list__link:hover,
.social-list__link:active {
  background-color: #ee3643;
}

.social-list__link[data-social="vk"] {
  background-image: url("../img/icon-vk.svg");
}

.social-list__link[data-social="fb"] {
  background-image: url("../img/icon-fb.svg");
}

.social-list__link[data-social="instagram"] {
  background-image: url("../img/icon-insta.svg");
}

.footer-feedback,
.footer-developed-by {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.footer-feedback__link,
.footer-developed-by__link {
  color: #ffd180;
}

.footer-feedback__link:hover,
.footer-developed-by__link:hover {
  text-decoration: underline;
}

.footer-feedback__link:active,
.footer-developed-by__link:active {
  color: #ee3643;
  text-decoration: none;
}


