*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.hidden {
  display: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/*main-header*/
.main-header {
  font-family: "Cuprum", Arial, sans-serif;

  background: #f4f7f9;
}

/*main-header main-header-top*/
.main-header__top {
  background-color: #293449;
}

/*main-header main-header-top main-header__logo*/
.main-header__logo {
  display: block;
  width: 220px;
  height: 47px;

  background-color: #ee3643;

  overflow: hidden;
}

.main-header__logo:hover {
  background-color: #ca2c37;
}

.main-header__logo:active {
  background-color: #ba2732;
}

.main-header__logo img {
  display: block;
  margin: 13px auto;
}

/*main-header main-header-top search-form*/
.search-form {
  position: relative;
}

.search-form__field {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  box-sizing: border-box;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  background-color: inherit;
  border: none;
}

.search-form__field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}

.search-form__field::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}

.search-form__field:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}

.search-form__field:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
  opacity: 1;
}

.search-form__field:hover {
  background-color: #212a3a;
}

.search-form__field:focus {
  background-color: #ffffff;
}

.search-form__label {
  position: absolute;
  top: 50%;
  left: 17px;

  transform: translateY(-50%);
}

.search-form__label::before {
  display: inline-block;
  width: 17px;
  height: 17px;

  vertical-align: middle;
  content: '';

  background: url("../img/icon-search.svg") 0 0 no-repeat;
  background-size: 17px 17px;
  opacity: 0.3;
}

.search-form__field:hover ~ .search-form__label::before {
  opacity: 1;
}

.search-form__field:active ~ .search-form__label::before {
  opacity: 0.5;
}

.search-form__field:focus ~ .search-form__label::before {
  background-image: url("../img/icon-search-focus.svg");
  opacity: 1;
}

/*main-header main-header__top widget*/
.widget__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
}

.widget__link:hover {
  background-color: #212a3a;
}

.widget__link:active {
  background-color: #161d29;
}

.widget__link-bookmark {
  padding-left: 45px;
}

.widget__link-cart {
  padding-left: 50px;
}

.widget__info {
  position: relative;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  vertical-align: middle;
  color: #ffffff;
}

.widget__link:active .widget__info {
  opacity: 0.6;
}

.widget__info::before {
  position: absolute;
  top: 0;

  display: block;

  opacity: 0.3;
  content: '';
}

.widget__link:hover .widget__info::before {
  opacity: 1;
}

.widget__link:active .widget__info::before {
  opacity: 0.5;
}

.widget__info-bookmark::before {
  left: -13px;

  width: 14px;
  height: 16px;

  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
  background-size: 14px 16px;

  transform: translateX(-100%);
}

.widget__info-cart::before {
  left: -17px;

  width: 15px;
  height: 15px;

  background: url("../img/icon-cart.svg") no-repeat 0 0;
  background-size: 15px 15px;

  transform: translateX(-100%);
}

/*main-header main-header-top to-process-order*/
.to-process-order {
  display: block;
  padding: 14px 20px;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a63e;
}

.to-process-order:hover {
  background-color: #5fbb2d;
}

.to-process-order:active {
  background-color: #518534;
  opacity: 0.5;
}

/*main-header main-header__middle*/
/*main-header main-header__middle main-header__title*/
.main-header__title {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

/*main-header main-header__middle header-contacts*/
.header-contacts__phone {
  position: relative;

  display: block;
  padding: 14px 20px 14px 75px;

  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-contacts__phone::before {
  position: absolute;
  top: 50%;
  left: 15px;

  display: block;
  width: 19px;
  height: 19px;

  background: url("../img/icon-phone.svg") no-repeat 0 0;
  background-size: 19px 19px;

  content: '';
  transform: translateY(-50%);
}

.header-contacts__address {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}

/*main-header user-navigation*/
/*main-header user-navigation user-navigation-out*/
.user-navigation-out__link {
  display: block;

  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation-out__link:hover {
  color: #ee3643;
}

.user-navigation-out__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-out__link-login {
  position: relative;
  padding: 15px 20px 15px 50px;
}

.user-navigation-out__link-login::before {
  position: absolute;
  top: 50%;
  left: 14px;

  display: block;
  width: 20px;
  height: 17px;

  background: url("../img/icon-login.svg") no-repeat 0 0;
  background-size: 20px 17px;

  transform: translateY(-50%);

  content: '';
}

.user-navigation-out__item:hover .user-navigation-out__link-login::before {
  background-image: url("../img/icon-login-hover.svg");
}

.user-navigation-out__item:active .user-navigation-out__link-login::before {
  background-image: url("../img/icon-login.svg");
}

.user-navigation-out__link-registration {
  padding: 15px 25px 15px 25px;
}

/*main-header user-navigation user-navigation-inside*/
.user-navigation-inside__link-name {
  position: relative;

  display: block;
  padding: 14px 20px 11px 47px;

  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation-inside__link-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-inside__link-name::before {
  position: absolute;
  top: 50%;
  left: 13px;

  display: block;
  width: 20px;
  height: 18px;

  background: url("../img/icon-user.svg") 0 0 no-repeat;
  background-size: 20px 18px;

  transform: translateY(-50%);

  content: '';
}

.user-navigation-inside__item:hover .user-navigation-inside__link-name::before {
  background-image: url("../img/icon-user-hover.svg");
}

.user-navigation-inside__item:active .user-navigation-inside__link-name::before {
  background-image: url("../img/icon-user.svg");
}

.user-navigation-inside__link-name::after {
  position: absolute;
  top: 50%;
  right: 10px;

  display: block;
  width: 21px;
  height: 17px;

  background: url("../img/icon-logout.svg") 0 0 no-repeat;
  background-size: 21px 17px;

  transform: translateY(-50%);

  content: '';
}

.user-navigation-inside__item:hover .user-navigation-inside__link-name::after {
  background-image: url("../img/icon-logout-hover.svg");
}

.user-navigation-inside__item:active .user-navigation-inside__link-name::after {
  background-image: url("../img/icon-logout.svg");
}

.user-navigation-inside__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.user-navigation-inside__link:hover {
  color: #ee3643;
}

.user-navigation-inside__link:active {
  color: rgba(50, 66, 92, 0.3);
}

/*main-header main-navigation*/
.main-navigation__list {
  background-color: #32425c;
}

.main-navigation__link {
  display: block;
  padding: 20px 30px;

  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation__link:hover {
  background-color: #293449;
}

.main-navigation__link:active {
  background-color: #1d2739;
  opacity: 0.5;
}
