body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.list {
  padding-left: 0;
  list-style: none;
}

.hidden {
  display: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/*main-header*/
.main-header {
  font-family: "Cuprum", Arial, sans-serif;

  background: #f4f7f9;
}

/*main-header main-header-top*/
.main-header__top {
  background-color: #293449;
}

.main-header__logo {
  display: block;
  width: 220px;
  height: 47px;

  background-color: #ee3643;

  overflow: hidden;
}

.main-header__logo:hover {
  background-color: #ca2c37;
}

.main-header__logo:active {
  background-color: #ba2732;
}

.main-header__logo img {
  display: block;
  margin: 13px auto;
}

.search-form__label {
  float: left;
}

.search-form__icon {
  display: inline-block;
  width: 17px;
  height: 17px;

  vertical-align: middle;

  background: url("../img/icon-search.svg") 0 0 no-repeat;
  background-size: 17px 17px;
  opacity: 0.3;
}

.search-form__icon:hover {
  opacity: 1;
}

.search-form__icon:active {
  opacity: 0.5;
}

.search-form__field:focus ~ .search-form__label .search-form__icon {
  background-image: url("../img/icon-search-focus.svg");
  opacity: 1;
}

/*main-header main-header__top widget*/
.widget__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
}

.widget__link:hover {
  background-color: #212a3a;
}

.widget__link:active {
  background-color: #161d29;
}

.widget__link-bookmark {
  padding-left: 45px;
}

.widget__link-cart {
  padding-left: 50px;
}

.widget__info {
  position: relative;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  vertical-align: middle;
  color: #ffffff;
}

.widget__link:active .widget__info {
  opacity: 0.6;
}

.widget__info::before {
  position: absolute;
  top: 0;

  display: block;

  opacity: 0.3;
  content: '';
}

.widget__link:hover .widget__info::before {
  opacity: 1;
}

.widget__link:active .widget__info::before {
  opacity: 0.5;
}

.widget__info-bookmark::before {
  left: -13px;

  width: 14px;
  height: 16px;

  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
  background-size: 14px 16px;

  transform: translateX(-100%);
}

.widget__info-cart::before {
  left: -17px;

  width: 15px;
  height: 15px;

  background: url("../img/icon-cart.svg") no-repeat 0 0;
  background-size: 15px 15px;

  transform: translateX(-100%);
}

/*main-header main-navigation*/
.main-navigation__list {
  background-color: #32425c;
}

.main-navigation__link {
  display: block;
  padding: 20px 30px;

  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.main-navigation__link:hover {
  background-color: #293449;
}

.main-navigation__link:active {
  background-color: #1d2739;
  opacity: 0.5;
}
